div1 { 
    color: green; 
  }  
  .titleCloseBtn {
    display: flex;
    justify-content: flex-end;
  }
  
  .titleCloseBtn button {
    background-color: transparent;
    border: none;
    font-size: 25px;
    cursor: pointer;
  }
  

  
  #cancelBtn {
    background-color: crimson;
  }